<body>

	<div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
			<%= image_tag @photos[0].image.url, class: "img-square avatar-full" if @photos.length > 0 %>
	        <br>
	        <br>
	       <h4><%= @job.company_name %></h4>	
               Field:<%= @job.industry_type %>		
            </div>


            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
				
				<strong>Educational Qualification:</strong><br>
				<%= @job.education %>
				
				<br>
				Working hrs:<%= @job.job_status %>

				<br>
				  <!-- Application form -->
		         <%= render 'japplications/form' %> 
			    </ul>
            </div>    
            
                 
                
           
        </div>
	    <div class="main-wrapper">
            
            <section class="section summary-section">
            <h2 class="section-title"><%= @job.company_name %></h2>
            <br>
            <br>
            <br>
            <br>
             <h3 class="section-title"><i class="fa fa-briefcase"></i>Job Position: <%= @job.job_position%></h3>
			
            <div class="item">
                    <div class="details">
      			    
			<p><%= @job.job_description %></p>

			</div>
      			   
      		</div>
            </section>

			<section class="section summary-section">
             <h3 class="section-title"><i class="fa fa-wrench" aria-hidden="true"></i>Required skills and experience:</h3>
      		 <p><h4><%= @job.job_skills %></h4></p>
      		</section>	    

			<strong>Address:</strong><%= @job.address %>
			<br>
			<strong>Salary:</strong>
			<%= @job.salary%>
	<br>
	<br>	
	<br>	

    <!-- star carousel images-->
    <!-- Carousel -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <% if @photos %>

              <ol class="carousel-indicators">
                      <% @photos.each do |photo| %>
                        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" ></li>
                      <% end %>
                 </ol>
              <% end %>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <% if @photos %>
                        <% @photos.each do |photo| %>
                            <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                        <%= image_tag photo.image.url() %>
                    </div>
                        <% end %>
                    <% end %>

              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>                  
        </div>
    </div>

    <br>
    <hr>
	<!-- end carousel--> 


	<!--Google Map-->
	<div class="row">
			<div class="col-md-12"> 

				<div id="map"></div>
					<style>
		     		 #map {
		       			 width: 100%;
		      		     height: 400px;
		      				}
		   			 </style>

		   			 <script 
					        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx3FcgO0JUTWKTvIUAvTtAPleByEYrcC4&callback=initMap"
					        async defer>
					    </script>

		   			<script>
				     function initMap() {
						var mapDiv = document.getElementById('map');
						var map = new google.maps.Map(mapDiv, {
						center: {lat: <%= @job.latitude %>, lng: <%= @job.longitude %>},
						zoom: 14,
						mapTypeId: google.maps.MapTypeId.ROADMAP
						});
						var marker = new google.maps.Marker({
						position: {lat: <%= @job.latitude %>, lng: <%= @job.longitude %>},
						title: "<%= @job.job_position %>"
						});
						marker.setMap(map);
						}


				    </script>


				</div>
	</div>

<!-- Google map end-->



		</div>
	</div>	
		
	
	<%= link_to 'Back', jobs_path %>
</body>





