<div class="panel panel-default">
  <div class="panel-heading">
    Create your CV 
  </div>  
  <div class="panel-body">
    <div class="container">



<%= form_for(@cv) do |f| %>
  <% if @cv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cv.errors.count, "error") %> prohibited this cv from being saved:</h2>

      <ul>
      <% @cv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
          <div class="form-group">
            <label>Name</label>
            <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          </div>
  </div>

  <div class="row">
          <div class="form-group">
            <label>Profession</label>
            <%= f.text_field :profession, placeholder: "Profession", class: "form-control" %>
          </div>
  </div>
  
  <div class="row">
          <div class="form-group">
            <label>Image</label>
            <%= f.text_field :image, placeholder: "Image_url", class: "form-control" %>
          </div>
  </div>
  

  <div class="row">
          <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
          </div>
  </div>

  <div class="row">
          <div class="form-group">
            <label>Education</label>
            <%= f.text_area :education, placeholder: "Education", class: "form-control" %>
          </div>
  </div>

  <div class="row">
          <div class="form-group">
            <label>Experiences</label>
            <%= f.text_area :experiences, placeholder: "Experiences", class: "form-control" %>
          </div>
  </div>

  <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  
<% end %>

</div>
</div>
</div>



