<footer class = "footer">

<ul class="nav navbar-nav navbar-left">
		<li><%= link_to "Home", about_path %></li>
		<li><%= link_to "Disclaimer", about_path %></li>
	
		<li><%= link_to "About Us", about_path %></li>
		
		<li> <a href="http://news.railstutorial.org">News</a> </li>
		<li><%= link_to "FaQs", about_path %></li>
		<li><%= link_to "Privacy Policy", about_path %></li>
		<li><%= link_to "Terms & Conditions", contact_path %></li>
		<li><%= link_to "Corporate Responsibility", about_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
		<li><%= link_to "Services", contact_path %></li>
	
	</ul>


</footer>