<footer class = "footer">

<ul class="nav navbar-nav navbar-left">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Disclaimer", company_disclaimer_path %></li>
	
		<li><%= link_to "About Us", about_path %></li>
		
		<li><%= link_to "News", company_news_path %></a> </li>
		<li><%= link_to "FaQs", company_faqs_path %></li>
		<li><%= link_to "Privacy Policy", company_privacy_path %></li>
		<li><%= link_to "Terms & Conditions", company_terms_conditions_path %></li>
		<li><%= link_to "Corporate Responsibility", company_corporate_responsibility_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
		<li><%= link_to "Services", company_services_path %></li>
	
	</ul>


</footer>